entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "crom"

[[workflows.workflow]]
name = "crom"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 crom.py"
