entrypoint = "main/main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python3 main/main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "crom"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main/crom.py"

[[workflows.workflow]]
name = "crom3"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 crom3.py"

[[workflows.workflow]]
name = "db"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main/db.py"

[[workflows.workflow]]
name = "test"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main/test.py"

[[workflows.workflow]]
name = "log"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 log.py"

[[workflows.workflow]]
name = "pastebin2"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 pastebin2.py"

[[workflows.workflow]]
name = "Run Bot"
mode = "parallel"
author = 30770619

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main/main.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "IRC Bot"

[[workflows.workflow]]
name = "IRC Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd main && python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true
